<h3>
  参评人信息录入活动
</h3>
<p>
  <b>名称</b>
  <%= @admin_review_activity.name %>
</p>

<p>
  <b>开始时间</b>
  <%= @admin_review_activity.begin_time %>
</p>

<p>
  <b>结束时间</b>
  <%= @admin_review_activity.end_time %>
</p>

<p>
  <b>所属项目</b>
  <%= link_to @admin_review_activity.review_project.name, @admin_review_activity.review_project %>
</p>
<div>
  <p>
    <%= link_to '配置参评人员', configure_people_index_admin_review_activity_url(@admin_review_activity) %>
  </p>
</div>
<div>
  <%= link_to '回到项目', @admin_review_activity.review_project %>
</div>