<p id="notice"><%= notice %></p>

<p>
  <b>Nation:</b>
  <%= @info_register_base_info.nation %>
</p>

<p>
  <b>Sex:</b>
  <%= @info_register_base_info.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%= @info_register_base_info.birthday %>
</p>

<p>
  <b>Last review time:</b>
  <%= @info_register_base_info.last_review_time %>
</p>

<p>
  <b>Invite time:</b>
  <%= @info_register_base_info.invite_time %>
</p>

<p>
  <b>Degree:</b>
  <%= @info_register_base_info.degree %>
</p>

<p>
  <b>Edu background:</b>
  <%= @info_register_base_info.edu_background %>
</p>

<p>
  <b>Current level:</b>
  <%= @info_register_base_info.current_level %>
</p>

<p>
  <b>Advance level:</b>
  <%= @info_register_base_info.advance_level %>
</p>

<p>
  <b>Review type:</b>
  <%= @info_register_base_info.review_type %>
</p>

<p>
  <b>Computer exam:</b>
  <%= @info_register_base_info.computer_exam %>
</p>

<p>
  <b>Computer exam file name:</b>
  <%= @info_register_base_info.computer_exam_file_name %>
</p>

<p>
  <b>Foreign exam:</b>
  <%= @info_register_base_info.foreign_exam %>
</p>

<p>
  <b>Foreign exam file name:</b>
  <%= @info_register_base_info.foreign_exam_file_name %>
</p>


<%= link_to 'Edit', edit_info_register_base_info_path(@info_register_base_info) %> |
<%= link_to 'Back', info_register_base_infos_path %>
