<!DOCTYPE html>
<html>
<head>
  <title>LevelReview</title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to '基本信息录入',info_register_base_info_path(curr_activity,1) %>
  ，论文....
  <%= link_to "登出", login_out_url %>
</div>
<%= yield %>
</body>
</html>
