<!DOCTYPE html>
<html>
<head>
  <title>LevelReview</title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to '基本信息录入', new_info_register_base_info_path(curr_activity) %>
  <%= link_to '论文信息录入', info_register_articles_path(curr_activity) %>
  <%= link_to "登出", login_out_url %>
</div>
<div>
  <%= flash[:notice] unless flash[:notice].nil? %>
</div>
<div>
  <%= yield %>
</div>
</body>
</html>
