<!DOCTYPE html>
<html>
<head>
  <title>LevelReview</title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  菜单:
  <%= link_to "新建评选项目", new_admin_review_project_path %>、
  <%= link_to "评选项目维护", admin_review_projects_path %>
  、系统人员维护、密码修改
</div>
<%= yield %>
</body>
</html>
