<!DOCTYPE html>
<html>
<head>
  <title>LevelReview</title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to "部门审核", department_review_info_review_index_url(curr_activity) %>
  ，部门内排序
  <%= link_to "登出", login_out_url %>
</div>
<div>
  <%= flash[:notice] %>
</div>
<%= yield %>
</body>
</html>
