<h1>Listing admin_people</h1>

<table>
  <tr>
    <th>User name</th>
    <th>Password</th>
    <th>Person name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @admin_people.each do |admin_person| %>
      <tr>
        <td><%= admin_person.user_name %></td>
        <td><%= admin_person.password %></td>
        <td><%= admin_person.person_name %></td>
        <%#TODO 异常 管理员不可以被删除 %>
        <% if !admin_person.user_name.nil?&&admin_person.user_name=='admin' %>
            <td colspan="2">
              管理员修改
            </td>
        <% else %>
            <td><%= link_to '修改', edit_admin_person_path(admin_person) %></td>
            <td><%= link_to '显示', admin_person %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Person', new_admin_person_path %>
