<%= content_for :javascript do %>
    <script type="text/javascript">
        $(function() {
            $('#configure_people_cancel').click(function() {
                if (confirm("确认要取消这些人员参与该活动？")) {
                    var $checked_people = $('.table_person_id:checked');
                    if ($checked_people.length == 0) {
                        alert("请选择人员");
                        return;
                    }
                    var check_id_array = [];
                    $checked_people.each(function() {
                        check_id_array.push($(this).val());
                    })
                    $.post('<%=configure_people_cancel_admin_review_activity_url %>', {ids:check_id_array.join(',')}, function(ids) {
                        window.location.reload();
                    }, 'json');
                }
            });
            $('#configure_person_login_time').click(function() {
                if (confirm("确认要特殊设置人员参活动时间？")) {
                    var $checked_people = $('.table_person_id:checked');
                    if ($checked_people.length == 0) {
                        alert("请选择人员");
                        return;
                    }
                    var check_id_array = [];
                    $checked_people.each(function() {
                        check_id_array.push($(this).val());
                    })
                    var input_begin_time = $('#configure_person_login_time_begin_time').val();
                    var input_end_time = $('#configure_person_login_time_end_time').val();
                    $.post('<%=configure_person_login_time_admin_review_activity_url %>', {
                        ids:check_id_array.join(','),
                        begin_time:input_begin_time,
                        end_time:input_end_time
                    }, function(ids) {
                        window.location.reload();
                    }, 'json');
                }
            });
            $('#configure_reset_person_login_time').click(function() {
                if (confirm("确认要取消特殊设置时间？")) {
                    var $checked_people = $('.table_person_id:checked');
                    if ($checked_people.length == 0) {
                        alert("请选择人员");
                        return;
                    }
                    var check_id_array = [];
                    $checked_people.each(function() {
                        check_id_array.push($(this).val());
                    })
                    $.post('<%=configure_reset_person_login_time_admin_review_activity_url %>', {
                        ids:check_id_array.join(',')
                    }, function(ids) {
                        window.location.reload();
                    }, 'json');
                }
            });
        });
    </script>
<% end %>
<div>
  <h3>
    <%= @admin_review_activity.name %>--人员配置
  </h3>
</div>
<div>
  <h3>
    参与人员列表
  </h3>

  <div>
    <%= form_for @search, :url=>configure_people_index_admin_review_activity_url do |f| %>
        <%= hidden_field_tag :activity_id, params[:id] %>
        <%= f.label :user_name_contains, "用户名" %>
        <%= f.text_field :user_name_contains %>
        <%= f.label :person_name_contains, "人员姓名" %>
        <%= f.text_field :person_name_contains %>
        <%= f.label :department_id_eq, "部门" %>
        <%= f.select :department_id_eq, departments_options(params[:search][:department_id_eq]), :include_blank=>true %>
        <%= f.label :department_subject_id_eq, "学科组" %>
        <%= f.select :department_subject_id_eq, subjects_options(params[:search][:department_subject_id_eq]), :include_blank=>true %>
        <%= f.submit "查询" %>
    <% end %>
  </div>
  <div>
    <button id="configure_people_cancel">取消人员</button>
    <button id="configure_person_login_time">设置人员登录时间</button>
    开始时间
    <%= text_field_tag :configure_person_login_time_begin_time, DateTime.now %>
    &gt;&gt;
    结束时间
    <%= text_field_tag :configure_person_login_time_end_time, DateTime.now %>
    <button id="configure_reset_person_login_time">取消人员登录的特殊设置</button>
  </div>
  <div>
    <table>
      <tr>
        <th>-</th>
        <th>用户名</th>
        <th>人员姓名</th>
        <th>部门</th>
        <th>学科组</th>
        <th>活动内登录时间</th>
        <th></th>
        <th></th>
      </tr>
      <% @people.each do |admin_person| %>
          <tr>
            <td><%= check_box_tag "table_person_id_#{ admin_person.id}", admin_person.id, false, :class=>'table_person_id' %></td>
            <td><%= admin_person.user_name %></td>
            <td><%= admin_person.person_name %></td>
            <td><%= admin_person.department.name unless admin_person.department.nil? %></td>
            <td><%= admin_person.department.subject.name unless admin_person.department.nil? %></td>
            <td><%= person_activity_time admin_person, @admin_review_activity %></td>
            <td><%= link_to 'Show', admin_person %></td>
            <td><%= link_to 'Edit', edit_admin_person_path(admin_person) %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<div>
  <%= link_to "配置人员", configure_people_search_index_admin_review_activity_url(@admin_review_activity) %>
  <%=link_to "回到配置活动", @admin_review_activity %>
</div>