<!DOCTYPE html>
<html>
<head>
  <title>LevelReview</title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <div>
  <%= flash[:notice] %>
</div>
  <%= link_to "人事审核", renshi_review_info_review_index_url(curr_activity) %>


  <%= link_to "登出", login_out_url %>
</div>
<%= yield %>
</body>
</html>
