<h1>Listing admin_serial_code_batches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>End time</th>
    <th>Build time</th>
    <th>Remark</th>
    <th>Activity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_serial_code_batches.each do |admin_serial_code_batch| %>
  <tr>
    <td><%= admin_serial_code_batch.name %></td>
    <td><%= admin_serial_code_batch.end_time %></td>
    <td><%= admin_serial_code_batch.build_time %></td>
    <td><%= admin_serial_code_batch.remark %></td>
    <td><%= admin_serial_code_batch.activity %></td>
    <td><%= link_to 'Show', admin_serial_code_batch %></td>
    <td><%= link_to 'Edit', edit_admin_serial_code_batch_path(admin_serial_code_batch) %></td>
    <td><%= link_to 'Destroy', admin_serial_code_batch, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Serial code batch', new_admin_serial_code_batch_path %>
